{% extends 'base.html' %}
{% block title %}Meviehub{% endblock %}
{% block body %}
{% load staticfiles %}

<div class="container-fluid songs-container" style="width:80%">
  <ul class="nav nav-pills" style="margin-bottom: 10px;">
      <li role="presentation" class="active"><a href="{% url 'rater' %}">Back</a></li>
  </ul>
    <div class="row">
        <!--  User Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="/static/img/no-img.png"  class="img-responsive">
                    {%if rater %}
                    <h5>Username:{{ rater.user.username }}</h5>
                    <h5>Rating Average/Total Rating Number:{{ rater.avg_rating }}</h5>
                    {%endif%}
                    <!-- <h2>{{ movie.Director }}</h2> -->
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-9"align="justify">
          <h2>You may like:</h2>
      <!-- movielist -->
        {% if movies %}
          {% for movie in movies %}
          {% if forloop.counter|divisibleby:'4' or forloop.counter == 1 %}
          <div class="row">
            {% endif %}

                  <div class="col-md-3">

                    <div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
                        <a href="{% url 'Movies:detail' movie.id %}"class="hvr-shutter-out-horizontal">
                          {% if movie.Poster %}
                           <img src="{{movie.Poster.url }}" class="img-responsive" style="height:350px;width:320px;border-top-left-radius:10px;border-top-right-radius:10px;">
                           {% else %}
                           <img src="../static/img/no-poster.png" class="img-responsive" style="max-height:350px;width:320px;border-top-left-radius:10px;border-top-right-radius:10px;">
                           {% endif %}
                       </a>
                     </div>
                          <div style="height:178px" >
                              <h3 class="ellipsis"> {{ movie.Name }}</h3>
                              <h5>&nbsp&nbsp&nbsp&nbsp<span style="font-weight:700;color:#136CB2">Year</span>: {{ movie.Year }}</h5>
                              <h5 class="ellipsis">&nbsp&nbsp&nbsp&nbsp<span style="font-weight:700;color:#136CB2">Genre</span>: {{ movie.Genre }}</h5>
                              <h5>&nbsp&nbsp&nbsp&nbsp<span style="font-weight:700;color:#136CB2">IMDB Rating</span>: <font size='5'><strong>{{movie.Imdb_rating}}</strong></font> / {{movie.rating_Count}}</h5>
                              <a href="{% url 'Movies:detail' movie.id %}" class="btn btn-primary btn-lg" role="button">View Details</a>
                              <a href="{% url 'Movies:watched' movie.id %}" class="btn btn-default btn-lg btn-favorite" role="button">
                                  <span class="glyphicon glyphicon-star{% if not movie.Watched %}-empty{% endif %}"></span>
                              </a>

                          </div>
                  </div>

                {% if forloop.counter|divisibleby:'4' %}
              </div>
                {% endif %}
                {% endfor %}
                {% endif %}
              </div>
      <div class=" blog-pagenat-wthree">
          <ul>
              {% if movies.has_previous %}
                  <li><a  href="?page=1">&laquo; first</a>
                  <li><a href="?page={{  movies.previous_page_number }}">previous</a>
              {% endif %}
                <!-- <li><a href  Page {{  movies.number }} of {{  movies.paginator.num_pages }}. -->
                  <li><a class="frist" href="?page={{movies.number}}">{{movies.number}}</a></li>
              {% if  movies.has_next %}
                  <li><a href="?page={{ movies.next_page_number }}">Next</a>
                  <li><a href="?page={{ movies.paginator.num_pages }}">Last &raquo;</a></li>
              {% endif %}
          </ul>
      </div>
</div>
</div>

{% endblock %}
